/* the styles for the HTML elements */
body {
    font-family:'Comic Sans MS';
    margin: 0 auto;
    padding: 0 2em;
    background-color: #D3D3D3;
    text-align: center;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}

.flex-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex-item {
    margin: 10px;
    font-size: 16px;
}

.form{
    margin: 10px auto;
    text-align: left;
    width: 35%;
}
